body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
header, nav, section, footer {
    margin-bottom: 20px;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.genre {
    font-weight: bold;
    margin-top: 10px;
}
.book-item {
    display: flex;
    align-items: center;
}
.book-title, .author-name {
    margin-right: 5px;
}
.author-label {
    margin: 0 5px; /* Adds spacing around 'by' */
}
.summary-button {
    margin-left: auto; /* Pushes the button to the right */
}

/* Tooltip styles */
.tooltip {
    position: relative;
}
.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.fixed-tooltip {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 10px 0 0 0;
    border: 2px solid #444;  /* New border */
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.album-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-details, .album-embed {
    align-self: flex-start;
}

.summary-button {
    height: 20px;
}

.book-image {
    margin-right: 20px;
    display: flex;
    
}